body {
    padding: 0;
    margin: 0;
}

.home-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 5px;
    margin: 20px;
    padding: 20px;
}


.sticky-bar {
    position: sticky;
    top: 0;
}

.right-sideBar {
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.exercise-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.exercise-details h3 {
    margin-bottom: -10px
}

.exercise-time-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.exercise-time-text p {
    margin-bottom: 2px;
}

.time-value {
    width: 120px;
    height: 20px;
    border: 2px solid burlywood;
    border-radius: 3px;
    height: 30px;
    color: black
}

.activity {
    width: 150px;
    height: 20px;
    border: 2px solid burlywood;
    border-radius: 10px;
    height: 30px;
    color: rgb(236, 229, 229);
    margin-top: 30px;
    background-color: coral;
}


.profile-sec {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-sec img {
    width: 120px;
    height: 90px;
    box-shadow: 0 1px 7px rebeccapurple;
    border-radius: 10px;
    margin-right: 20px;
}

.profile-text {
    padding: 0px 2px;
    font-size: 14px;
}

.profile-text h3 {
    margin-bottom: -5px;
    line-height: 10px;
}

.break-section-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}



@media screen and (max-width:480px) {
    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}